:root {
  --custom-black-900: #14171F;
  --custom-black-800: #292E3D;
  --custom-black-700: #3D445C;
  --custom-black-600: #525B7A;
  --custom-black-500: #667299;
  --custom-black-400: #858EAD;
  --custom-black-300: #A3AAC2;
  --custom-black-200: #C2C7D6;
  --custom-black-100: #E0E3EB;
  --custom-black-50: #F6F8F7;
  --secondary: #F9995D;
  --primary: #2947A9;
  --custom-blue: #3559C7;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.25rem;
}

input,
select,
textarea {
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: 1px solid var(--custom-black-100);
}

::placeholder {
  color: var(--custom-black-300);
}

select {
  padding-right: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../assets/svgs/ic_round-arrow-drop-down-circle.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
}

h4 {
  font-size: 1.25rem;
}

button {
  font-size: 1.15rem;
}

section>h2 {
  color: var(--custom-black-800);
  text-align: center;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  margin: 0px;
  width: 100vw;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px;
}

#logo-component {
  padding: 0px;
  margin: 0px;
  display: flex;
}

#logo-component img:nth-child(2) {
  margin-left: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}

ul {
  display: flex;
}

header ul li {
  list-style-type: none;
  padding: 1rem;
}

header ul li:last-child a {
  color: var(--secondary);
  font-weight: 600;
}

header svg {
  display: none;
  margin-top: 10px;
  height: 2rem;
  width: 2rem;
}

header ul li a {
  text-decoration: none;
  color: var(--custom-black-900);
}

main {
  width: 100%;
}

main>section:nth-child(1) {
  height: 600px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/imgs/building.jpeg');
}

main>section:nth-child(1)>h1 {
  color: var(--custom-black-800);
  margin: 0 0 5rem 4rem;
  font-weight: 500;
}

#feature-container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--custom-blue);
  height: 9.5rem;
  width: 25rem;
  align-self: flex-end;
}

#feature-content {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#feature-content>h4 {
  margin: 0.8rem 0px;
}

#feature-btns {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
}

#feature-btns>button {
  width: 50%;
  background-color: var(--custom-black-800);
  border: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  padding: 0.6rem;
}

#feature-btns>button>span {
  margin: 0px 0.5rem;
}

#feature-btns>button:nth-child(1) {
  border-right: 1px solid white;
}

#feature-btns>button:nth-child(2) {
  border-left: 1px solid white;
}

/* REPUTATION SECTION */
main>section:nth-child(2) {
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
}

div[id="reputation-container"]>div {
  border: 1px solid var(--custom-black-100);
  border-radius: 4px;
  max-width: 25%;
  color: var(--custom-black-400);
  padding: 1.2rem;
}

div[id="reputation-container"]>div>h4 {
  color: var(--custom-black-700);
  font-weight: 700;
  margin: 1rem 0px;
}

div[id="reputation-container"] {
  display: flex;
  margin: 3rem 5rem;
  max-width: 100%;
  justify-content: space-evenly;
}

/* ABOUT US SECTION */
main>section:nth-child(3) {
  padding: 3rem;
  position: relative;
}

main>section:nth-child(3) img {
  max-height: 43.5rem;
  max-width: 70%;
}

main>section:nth-child(3) p {
  font-weight: 300;
  line-height: 1.46rem;
  letter-spacing: 1px;
}

main>section:nth-child(3) h2 {
  margin: 0 0 2rem;
  font-weight: 700;
}

main>section:nth-child(3) div {
  position: absolute;
  top: 10rem;
  right: 10rem;
  max-width: 31.25rem;
  border-radius: 2px;
  background-color: var(--primary);
  color: white;
  padding: 40px;
}

main>section:nth-child(3) button {
  color: var(--primary);
  font-weight: 600;
  border: 2px solid var(--primary);
  border-radius: 2px;
  padding: 1rem 1.25rem 1rem 1.25rem;
}

/* SERVICES SECTION */
main>section:nth-child(4) {
  background-color: var(--custom-black-50);
  padding: 3rem 0px;
}

main>section:nth-child(4)>h2 {
  color: var(--custom-black-800);
  text-align: center;
}

div[id="services-container"] {
  margin: 2.25rem 8.5rem;
  text-align: center;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}

div[id="services-container"]>div {
  padding: 2.38rem 0;
  font-weight: 600;
  border-radius: 4px;
}

div[id="services-container"] hr {
  margin: 1.25rem auto;
  width: 3.75rem;
}

div[id="services-container"]>div:nth-child(even) {
  background-color: var(--primary);
  color: white;
}

div[id="services-container"]>div:nth-child(odd) {
  color: var(--primary);
  background-color: white;
}

div[id="services-container"]>div:nth-child(odd)>hr {
  color: var(--primary);
  background-color: white;
}

div[id="services-container"]>div:nth-child(even)>hr {
  background-color: var(--primary);
  color: white;
}

/* EXPERIENCE */
main>section:nth-child(5) {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

#stats h1 {
  font-weight: 500;
  color: var(--custom-black-800);
  text-align: left;
}

#stats {
  position: relative;
  padding: 16.8rem 1.8rem;
}

#stats article {
  position: absolute;
  background-color: white;
  box-shadow: 0 12px 16px -4px rgba(17, 24, 39, 0.1);
  padding: 1.25rem 2.5rem;
  border-radius: 4px;
}

#stats article div {
  margin: 0px 0.75rem;
  display: flex;
}

#stats article p {
  color: var(--custom-black-500);
  font-size: 1.5rem;
}

#project-stats {
  top: 6.25rem;
  left: 9.4rem;
}

#project-stats img {
  position: absolute;
  top: -2.5rem;
  left: -1.25rem;
}

#client-stats {
  top: 1.8rem;
  right: 8.2rem;
}

#client-stats img {
  position: absolute;
  top: -0.6rem;
  right: -1.25rem;
}

#years-stats {
  bottom: 4.8rem;
  left: 11.25rem;
}

#years-stats img {
  position: absolute;
  bottom: -1.6rem;
  right: -3.12rem;
}

#awards-stats {
  top: 14.4rem;
  right: 8.75rem;
}

#awards-stats img {
  position: absolute;
  top: -0.6rem;
  right: -1.25rem;
}

#stats article span {
  border: 3px solid var(--secondary);
  margin-right: 0.6rem;
}

main>section:nth-child(5) div:nth-of-type(2) {
  padding: 5rem;
}

main>section:nth-child(5) div:nth-of-type(2) p {
  color: var(--custom-black-600);
  line-height: 23.46px;
  letter-spacing: 1px;
}

main>section:nth-child(5) div:nth-of-type(2) button,
form button {
  background-color: var(--primary);
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 2px;
  border: 0px;
  color: white;
  font-weight: 600;
}

main>section:nth-child(5) h1 {
  color: var(--primary);
  font-size: 3.75rem;
  font-weight: 700;
}

#call-to-action {
  padding: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../assets/imgs/unsplash_MP0bgaS_d1c.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#call-to-action button {
  border: 2px solid white;
  color: white;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 1.25rem;
}

#projects-section {
  display: grid;
  padding: 3rem 6rem;
  grid-template-columns: 1fr 3fr;
}

#projects-section ul {
  display: block;
}

#projects-section .active-tab {
  color: var(--primary);
  border-left: 5px solid var(--primary);
  font-weight: bold;
}

#projects-section ul li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--custom-black-200);
  padding: 0.3rem 1rem;
}

#projects-showcase {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

#projects-showcase article {
  background-color: var(--primary);
}

#projects-showcase article div {
  color: white;
  padding: 1rem;
}

#projects-showcase article div h4 {
  margin-bottom: 0.3rem;
}

#projects-showcase article img {
  width: 100%;
}

#projects-showcase>#feature-btns button {
  padding: 1rem 0;
}

#projects-showcase>#feature-btns {
  grid-column-start: 1;
  grid-column-end: 3;
}

#indicator-container {
  display: flex;
  margin: auto 5rem;
  align-items: center;
}

#indicator-container>div {
  height: 16px;
  width: 16px;
  margin: 0px 0.5rem;
  border-radius: 16px;
  background-color: var(--custom-black-100);
}

.active-indicator {
  background-color: var(--primary) !important;
}

/* CONTACT SECTION */
#contact-section {
  text-align: center;
  background-color: var(--custom-black-50);
  padding: 3rem 25rem;
}

#contact-section>p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--custom-black-800);
}

#contact-section form div {
  display: flex;
  margin-bottom: 1rem;
}

#contact-section form p {
  margin: -8px 0.8rem;
}

#contact-section form input,
#contact-section select,
#contact-section textarea {
  width: 100%;
  margin: 0px 0.8rem;
}

form button {
  margin-top: 1.5rem;
  width: 40%;
}

footer section:nth-child(1) {
  width: 50%;
  display: inline-block;
  padding: 3rem 0 3rem 5.5rem;
}

footer span {
  color: var(--primary);
  width: 90px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
}

footer section:nth-child(1) p {
  color: var(--custom-black-800);
}

footer section:nth-child(3) {
  color: white;
  padding: 1rem 5.5rem;
  background-color: var(--primary);
}

footer section:nth-child(2) {
  width: 35%;
  display: inline-block;
  padding: 3rem 5.5rem 3rem 0;
}

#newsletter-container div {
  display: flex;
}

#newsletter-container div input {
  flex: 1;
  margin-right: 1rem;
}

#newsletter-container div button {
  border: none;
  color: white;
  padding: 0 2rem;
  border-radius: 4px;
  background-color: var(--secondary);
}

.image-button {
  margin-right: 1rem;
}